<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="registryipaddress" value="192.168.2.32" />
    <add key="registryport" value="3128" />
    <add key="teamName" value="FunnyGlasses" />
    <add key="tagNames" value="GIORP-TOTAL" />
    <add key="serviceNames" value="Purchase Totaller" />
  </appSettings>
</configuration>